RewriteEngine On

# serve announcements as .php, including read/claim sub-routes and no-dir id urls
RewriteRule ^object/announcements/([0-9]+)/(read|claim)/?$ object/announcements/$1.php [L]
RewriteRule ^object/announcements/([0-9]+)/?$ object/announcements/$1.php [L]

# removes .php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.php$
RewriteRule ^(.+)$ $1.php [L]

ErrorDocument 404 /log.php